@import 'emoji.min.css';

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url('font/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-display: swap;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url('font/Montserrat-BoldItalic.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.ec {
  font-size: 18px;
}

.header {
  height: 64px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-center {
    width: 750px;
    display: flex;
    align-items: center;
  }

  .branch {
    color: #584f4f;
    font-weight: 700;
    font-size: 14px;
  }

  .text-animate {
    animation: blink-animation 1s infinite;
    width: 4px;
    height: 8px;
    background-color: rgb(90, 90, 90);
    margin-left: 2px;
  }
}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}

.footer {
  background-color: #f1f1f1;
  height: 64px;
}

.main-container {
  height: calc(100vh - 368px);
  display: flex;
  justify-content: center;
  padding: 120px 0;

  .main-center {
    width: 750px;
  }
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1c84d9;
}

@media only screen and (max-width: 900px) {
  .header {
    .header-center {
      width: 612px;
    }
  }

  .main-container {
    .main-center {
      width: 612px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .header {
    .header-center {
      width: 512px;
    }
  }

  .main-container {
    .main-center {
      width: 512px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .header {
    .header-center {
      width: 312px;
    }
  }

  .main-container {
    .main-center {
      width: 312px;
    }
  }
}
